<div class="section-featured">
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm-4 col-lg-4 col-xl-4">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="panel-bar mycarouselhead">
            <div class="row no-gutters align-items-end ">
              <div class="col-auto heading">
                <h3 class="hotdeals">HOT DEALS</h3>
              </div>
              <div class="col-auto dots">
                <ul class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active">
                    <a></a>
                  </li>
                  <li data-target="#myCarousel" data-slide-to="1"><a></a></li>
                  <li data-target="#myCarousel" data-slide-to="2"><a></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="product-box">
                <div class="photo photo-1">
                  <div class="circles">
                    <div class="circle-inner">25 DAYS</div>
                    <div class="circle-inner">10 HRS</div>
                    <div class="circle-inner">45 MINS</div>
                    <div class="circle-inner">30 SECS</div>
                  </div>

                  <div class="button buttons">
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a>
                    <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product-box">
                <div class="photo photo-2">
                  <div class="circles">
                    <div class="circle-inner">25 DAYS</div>
                    <div class="circle-inner">10 HRS</div>
                    <div class="circle-inner">45 MINS</div>
                    <div class="circle-inner">30 SECS</div>
                  </div>
                  <div class="button buttons">
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-creamy"></a>
                    <a class="star full-creamy"></a>
                    <a class="star"></a>
                    <a class="star"></a>
                    <a class="star"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline active"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 15.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product-box">
                <div class="photo photo-8">
                  <div class="circles">
                    <div class="circle-inner">25 DAYS</div>
                    <div class="circle-inner">10 HRS</div>
                    <div class="circle-inner">45 MINS</div>
                    <div class="circle-inner">30 SECS</div>
                  </div>
                  <div class="button buttons">
                    <a href="#" class="btn-main-small addtocart"
                      ><i class="fa fa-shopping-basket "></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a>
                    <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 20.00</div>
                    <div class="btn-main-small no-hover">$ 15.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-8 col-ls-8 col-xl-8">
        <div
          id="myCarouselright"
          class="carousel slide"
          data-interval="false"
          data-ride="carousel"
        >
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carouselphoto">
                <img
                  src="https://cdn.pixabay.com/photo/2015/02/09/14/56/table-629772_960_720.jpg"
                  alt="First slide"
                />
                <div class="imageoverlay">
                  <div class="promotext">
                    <span class="title-light-1"> indoor</span>
                    <span class="title-normal">furniture</span>
                    <br />
                    <span class="title-light-2">save up to 50% of all furniture</span>
                  </div>
                  <div class="shopnow">
                    <button class="btn">Shop now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="carouselphoto">
                <img
                  src="https://cdn.pixabay.com/photo/2015/03/26/09/48/doorway-690338_960_720.jpg"
                  alt="Second slide"
                />
              </div>
            </div>
          </div>
          <!--Strzałki-->
          <div class="controls">
            <a
              class="carousel-control-prev"
              href="#myCarouselright"
              role="button"
              data-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#myCarouselright"
              role="button"
              data-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
