<div class="section--features">
  <div class="container">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="panel-bar">
        <div class="row no-gutters align-items-end">
          <div class="col-auto heading"><h3>HOT DEALS</h3></div>
          <div class="col"></div>
          <div class="col-auto dots">
            <ul class="carousel-indicators">
              <li><a href="#" class="active"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li data-target="#carousel" data-slide-to="0" class="active"></li>
              <li data-target="#carousel" data-slide-to="1"></li>
              <li data-target="#carousel" data-slide-to="2"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="product-box">
              <div class="photo photo-1">
                <div class="sale">sale</div>
                <div class="buttons">
                  <a href="#" class="btn-main-small">Quick View</a>
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="star-rating">
                  <a class="star full-black"></a>
                  <a class="star full-black"></a>
                  <a class="star black-outline"></a>
                  <a class="star black-outline"></a>
                  <a class="star black-outline"></a>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price">
                  <div class="btn-main-small no-hover">$ 30.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item"></div>
        <div class="carousel-item"></div>
      </div>
    </div>
  </div>
</div>
