<div class="section-featured">
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm-4 col-lg-4 col-xl-4">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="panel-bar mycarouselhead">
            <div class="row no-gutters align-items-end ">
              <div class="col-auto heading">
                <h3 class="hotdeals">HOT DEALS</h3>
              </div>
              <div class="col mycarouselhead"></div>
              <div class="col-auto dots mycarouselhead">
                <ul class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active">
                    <a></a>
                  </li>
                  <li data-target="#myCarousel" data-slide-to="1"><a></a></li>
                  <li data-target="#myCarousel" data-slide-to="2"><a></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="product-box">
                <div class="photo photo-1">
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a>
                    <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product-box">
                <div class="photo photo-2">
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-creamy"></a>
                    <a class="star full-creamy"></a>
                    <a class="star"></a>
                    <a class="star"></a>
                    <a class="star"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline active"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 15.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product-box">
                <div class="photo photo-8">
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a>
                    <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 20.00</div>
                    <div class="btn-main-small no-hover">$ 15.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-8 col-ls-8 col-xl-8">
        <div id="myCarouselright" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img
                class=""
                src="E:\KODILLA\WDP-1901-01\WDP-1901-01\images\furniture\blog-photo-3.jpeg"
                alt="First slide"
              />
            </div>
            <div class="carousel-item ">
              <img
                class=""
                src="E:\KODILLA\WDP-1901-01\WDP-1901-01\images\furniture\blog-photo-3.jpeg"
                alt="Second slide"
              />
            </div>
          </div>
          <!--Strzałki-->
          <a
            class="carousel-control-prev"
            href="#myCarouselright"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#myCarouselright"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
