<div class="section--promote">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="hot-deals">
          <div class="panel-bar hot-deals-label">
            <div class="row justify-content-between">
              <div class="col-auto hot-deals-header"><h6>HOT DEALS</h6></div>
              <div class="col-auto dots">
                <ul>
                  <li><a href="#" class="active"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="photo photo-1">
            <a href="#" class="btn-main-small hot-deals_cart"
              ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
            >
            <div class="counter">
              <div class="counter-circle">
                <h3>25</h3>
                DAYS
              </div>
              <div class="counter-circle">
                <h3>10</h3>
                HRS
              </div>
              <div class="counter-circle">
                <h3>45</h3>
                MINS
              </div>
              <div class="counter-circle">
                <h3>30</h3>
                SECS
              </div>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="star-rating">
              <a class="star full-black"></a> <a class="star full-black"></a>
              <a class="star black-outline"></a> <a class="star black-outline"></a>
              <a class="star black-outline"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price">
              <div class="old-price">$ 500.00</div>
              <div class="btn-main-small no-hover">$ 300.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="indoor-furniture">
          <div class="photo photo-2">
            <div class="indoor-furniture_label">
              <h1>INDOOR <b>FURNITURE</b></h1>
              SAVE UP TO 50% OF ALL FURNITURE
            </div>
            <div class="btn-main-small shop-now">SHOP NOW</div>
            <div class="navigation-buttons">
              <div class="btn-main nav-left"><i class="fas fa-angle-left"></i></div>
              <div class="btn-main nav-right"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
