<div class="section--promote">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="hot-deals">
          <div class="photo photo-1"></div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="star-rating">
              <a class="star full-black"></a> <a class="star full-black"></a>
              <a class="star black-outline"></a> <a class="star black-outline"></a>
              <a class="star black-outline"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price">
              <div class="old-price">$ 35.00</div>
              <div class="btn-main-small no-hover">$ 25.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="indoor-furniture"><div class="photo photo-1"></div></div>
      </div>
    </div>
  </div>
</div>
