<div class="section-deals">
  <div class="container">
    <div class="deals-thumbnail-big col">
      <div class="big-overlay">
        <h2 class="title-big">
          guest room <br />
          <span class="title-bold">sofa</span>
        </h2>
        <h2 class="title-sale">-20%</h2>
      </div>
    </div>
    <div class="deals-thumbnails-small col">
      <div class="deals-thumbnail-top">
        <div class="thumbnail-top-text">
          <h2 class="title-small">office <span class="title-light">chair</span></h2>
          <h5 class="title-small-middle">collection</h5>
          <h3 class="title-price">$ 200.00</h3>
        </div>
      </div>
      <div class="deals-thumbnail-bottom">
        <div class="thumbnail-bottom-text">
          <h4 class="title-bottom">
            special <span class="title-light">collection</span>
          </h4>
          <h4 class="title-promo">save up 45% of furniture</h4>
        </div>
      </div>
    </div>
  </div>
</div>
