<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <!--Tab's Pane-->
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" role="tab" href="#bed" data-toggle="tab"
                >Bed</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" role="tab" href="#chair" data-toggle="tab">Chair</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="tab" href="#sofa" data-toggle="tab">Sofa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="tab" href="#table" data-toggle="tab">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="tab" href="#dining" data-toggle="tab">Dining</a>
            </li>
          </ul>
        </div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--Content Tab Panes-->
    <div class="tab-content">
      <div class="container tab-pane fade show active" role="tabpanel" id="bed">
        <div class="row">
          <div class="product-box container col-3">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
          <div class="product-box container col-3">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container tab-pane fade" role="tabpanel" id="chair">
        <div class="row">
          <div class="product-box container col-3">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique1</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" container tab-pane fade" role="tabpanel" id="sofa">
        <div class="row">
          <div class="product-box container col-3">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique2</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" container tab-pane fade" role="tabpanel" id="table">
        <div class="row">
          <div class="product-box container col-3">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique3</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" container tab-pane fade" role="tabpanel" id="dining">
        <div class="row">
          <div class="product-box container col-3">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique5</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
          <div class="product-box tab-pane container col-3">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique6</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
          <div class="product-box tab-pane container col-3">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique4</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
          <div class="product-box tab-pane container col-3">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique7</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
