<div class="section-gallery">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
        <div id="Gallery" class="carousel slide" data-ride="carousel">
          <div class="panel-bar">
            <div class="row no-gutters align-items-end ">
              <div class="col-auto heading">
                <h3 class="furniture-gallery">FURNITURE GALLERY</h3>
              </div>
              <div class="col-auto dots"></div>
            </div>
          </div>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="product-box">
                <div class="photo photo-1">
                  <div class="circles">
                    <div class="circle-inner price"><br /><br />$30.00</div>
                  </div>
                </div>

                <div class="content content-gallery">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a>
                    <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                  <div class="triangle-top"></div>
                  <div class="triangle-bottom"></div>
                </div>

                <div class="btn-group-vertical outlines outlines-vert">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="FAVOURITES"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline" data-toggle="tooltip" title="EXCHANGE"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="WATCH ME NOW!"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="ADD TO CART"
                    ><i class="fa fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
            </div>
            <!--
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>-->
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
        <div class="justphoto"></div>

        <div class="additive">
          <div class="phototext">
            <span class="title-black">from</span>
            <span class="title-green">$50.80</span>
            <span class="title-orange">Bedroom Bed</span>
          </div>
          <div class="greenbutton">
            <button class="btngreen">Shop now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
