<div class="section-gallery">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
        <div
          id="Gallery"
          class="carousel slide carousel-fade carousel-thumbnails"
          data-ride="carousel"
        >
          <div class="panel-bar">
            <div class="row no-gutters align-items-end ">
              <div class="col-auto heading">
                <h3 class="furniture-gallery">FURNITURE GALLERY</h3>
              </div>
              <div class="col"></div>
            </div>
          </div>
          <div class="carousel-inner gallery-inner" role="listbox">
            <div class="carousel-item active galleryitem" data-slide-number="0">
              <div class="product-box product-height">
                <div class="photo photo-1 img-fluid">
                  <div class="circles">
                    <div class="circle-inner price">$30.00</div>
                  </div>
                </div>
                <div class="content content-gallery">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a> <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                  <div class="triangle-top"></div>
                  <div class="triangle-bottom"></div>
                </div>

                <div class="btn-group-vertical outlines outlines-vert">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="FAVOURITES"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline" data-toggle="tooltip" title="EXCHANGE"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="WATCH ME NOW!"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="ADD TO CART"
                    ><i class="fa fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="carousel-item galleryitem" data-slide-number="1">
              <div class="product-box product-height">
                <div class="photo photo-2 img-fluid">
                  <div class="circles">
                    <div class="circle-inner price">$15.00</div>
                  </div>
                </div>
                <div class="content content-gallery">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-creamy"></a> <a class="star full-creamy"></a>
                    <a class="star"></a> <a class="star"></a> <a class="star"></a>
                  </div>
                  <div class="triangle-top"></div>
                  <div class="triangle-bottom"></div>
                </div>

                <div class="btn-group-vertical outlines outlines-vert">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="FAVOURITES"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline" data-toggle="tooltip" title="EXCHANGE"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="WATCH ME NOW!"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="ADD TO CART"
                    ><i class="fa fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="carousel-item galleryitem" data-slide-number="2">
              <div class="product-box product-height">
                <div class="photo photo-3 img-fluid">
                  <div class="circles">
                    <div class="circle-inner price2"><s>$35.00</s> $25.00</div>
                  </div>
                </div>
                <div class="content content-gallery">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a> <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                  <div class="triangle-top"></div>
                  <div class="triangle-bottom"></div>
                </div>
                <div class="btn-group-vertical outlines outlines-vert">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="FAVOURITES"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline" data-toggle="tooltip" title="EXCHANGE"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="WATCH ME NOW!"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="ADD TO CART"
                    ><i class="fa fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="carousel-item galleryitem" data-slide-number="3">
              <div class="product-box product-height">
                <div class="photo photo-4 img-fluid">
                  <div class="circles">
                    <div class="circle-inner price2"><s>$20.00</s>$15.00</div>
                  </div>
                </div>
                <div class="content content-gallery">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a> <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                  <div class="triangle-top"></div>
                  <div class="triangle-bottom"></div>
                </div>

                <div class="btn-group-vertical outlines outlines-vert">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="FAVOURITES"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline" data-toggle="tooltip" title="EXCHANGE"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="WATCH ME NOW!"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="ADD TO CART"
                    ><i class="fa fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="carousel-item galleryitem" data-slide-number="4">
              <div class="product-box product-height">
                <div class="photo photo-5 img-fluid">
                  <div class="circles">
                    <div class="circle-inner price">$15.00</div>
                  </div>
                </div>
                <div class="content content-gallery">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a> <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                  <div class="triangle-top"></div>
                  <div class="triangle-bottom"></div>
                </div>
                <div class="btn-group-vertical outlines outlines-vert">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="FAVOURITES"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline" data-toggle="tooltip" title="EXCHANGE"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="WATCH ME NOW!"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="ADD TO CART"
                    ><i class="fa fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="carousel-item galleryitem" data-slide-number="5">
              <div class="product-box product-height">
                <div class="photo photo-6 img-fluid">
                  <div class="circles">
                    <div class="circle-inner price">$15.00</div>
                  </div>
                </div>
                <div class="content content-gallery">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a> <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                  <div class="triangle-top"></div>
                  <div class="triangle-bottom"></div>
                </div>

                <div class="btn-group-vertical outlines outlines-vert">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="FAVOURITES"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline" data-toggle="tooltip" title="EXCHANGE"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="WATCH ME NOW!"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="ADD TO CART"
                    ><i class="fa fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="carousel-item galleryitem" data-slide-number="6">
              <div class="product-box product-height">
                <div class="photo photo-7 img-fluid">
                  <div class="circles">
                    <div class="circle-inner price2"><s>$35.00</s>$25.00</div>
                  </div>
                </div>
                <div class="content content-gallery">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a> <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                  <div class="triangle-top"></div>
                  <div class="triangle-bottom"></div>
                </div>
                <div class="btn-group-vertical outlines outlines-vert">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="FAVOURITES"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline" data-toggle="tooltip" title="EXCHANGE"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="WATCH ME NOW!"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="ADD TO CART"
                    ><i class="fa fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="carousel-item galleryitem" data-slide-number="7">
              <div class="product-box product-height">
                <div class="photo photo-8 img-fluid">
                  <div class="circles">
                    <div class="circle-inner price2"><s>$20.00</s>$15.00</div>
                  </div>
                </div>
                <div class="content content-gallery">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="star-rating">
                    <a class="star full-black"></a> <a class="star full-black"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                    <a class="star black-outline"></a>
                  </div>
                  <div class="triangle-top"></div>
                  <div class="triangle-bottom"></div>
                </div>
                <div class="btn-group-vertical outlines outlines-vert">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="FAVOURITES"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline" data-toggle="tooltip" title="EXCHANGE"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="WATCH ME NOW!"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    title="ADD TO CART"
                    ><i class="fa fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="gallerycontrols">
            <a
              class="carousel-control left pt-3"
              href="#Gallery"
              role="button"
              data-slide="prev"
            >
              <i class="fa fa-chevron-left"></i>
            </a>
            <a
              class="carousel-control right pt-3"
              href="#Gallery"
              role="button"
              data-slide="next"
            >
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <ul class="carousel-indicators list-inline listbox">
          <li class="list-inline-item active">
            <a
              id="carousel-selector-0"
              class="selected"
              data-slide-to="0"
              data-target="#Gallery"
            >
              <img
                src="http://i68.tinypic.com/2wmkzm1.jpg"
                class="img-fluid"
                alt="first"
              />
            </a>
          </li>
          <li class="list-inline-item">
            <a
              id="carousel-selector-1"
              class="selected"
              data-slide-to="1"
              data-target="#Gallery"
            >
              <img
                src="http://i67.tinypic.com/a1my1.jpg"
                alt="first"
                class="img-fluid"
              />
            </a>
          </li>
          <li class="list-inline-item">
            <a
              id="carousel-selector-2"
              class="selected"
              data-slide-to="2"
              data-target="#Gallery"
            >
              <img
                src="http://i68.tinypic.com/w4qqg.jpg"
                alt="first"
                class="img-fluid"
              />
            </a>
          </li>
          <li class="list-inline-item">
            <a
              id="carousel-selector-3"
              class="selected"
              data-slide-to="3"
              data-target="#Gallery"
            >
              <img
                src="http://i65.tinypic.com/1zfu3ac.jpg"
                alt="first"
                class="img-fluid"
              />
            </a>
          </li>
          <li class="list-inline-item">
            <a
              id="carousel-selector-4"
              class="selected"
              data-slide-to="4"
              data-target="#Gallery"
            >
              <img
                src="http://i68.tinypic.com/2lw83dy.png"
                alt="first"
                class="img-fluid"
              />
            </a>
          </li>
          <li class="list-inline-item">
            <a
              id="carousel-selector-5"
              class="selected"
              data-slide-to="5"
              data-target="Gallery"
            >
              <img
                src="http://i65.tinypic.com/156wm0j.jpg"
                alt="first"
                class="img-fluid"
              />
            </a>
          </li>
          <li class="list-inline-item">
            <a
              id="carousel-selector-6"
              class="selected"
              data-slide-to="6"
              data-target="#Gallery"
            >
              <img
                src="http://i68.tinypic.com/2edthsg.jpg"
                alt="first"
                class="img-fluid"
              />
            </a>
          </li>
          <li class="list-inline-item">
            <a
              id="carousel-selector-7"
              class="selected"
              data-slide-to="7"
              data-target="#Gallery"
            >
              <img
                src="http://i68.tinypic.com/2qi1kjd.jpg"
                alt="first"
                class="img-fluid"
              />
            </a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
        <div class="justphoto"></div>
        <div class="additive">
          <div class="phototext">
            <span class="title-black">from</span>
            <span class="title-green">$50.80</span>
            <span class="title-orange">Bedroom Bed</span>
          </div>
          <div class="greenbutton"><button class="btngreen">Shop now</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
