<div class="section--brands">
  <div class="container">
    <div class="brands-line"></div>
    <div class="row brands-row">
      <div class="arrow-button"><span class="fas fa-angle-left"></span></div>
      <div class="col">
        <div class="brands-image"><img src="images/brands/brand1.png" /></div>
      </div>
      <div class="col">
        <div class="brands-image"><img src="images/brands/brand2.png" /></div>
      </div>
      <div class="col">
        <div class="brands-image"><img src="images/brands/brand3.png" /></div>
      </div>
      <div class="col">
        <div class="brands-image"><img src="images/brands/brand4.png" /></div>
      </div>
      <div class="col">
        <div class="brands-image"><img src="images/brands/brand5.png" /></div>
      </div>
      <div class="col">
        <div class="brands-image"><img src="images/brands/brand6.png" /></div>
      </div>
      <div class="arrow-button"><span class="fas fa-angle-right"></span></div>
    </div>
    <div class="brands-line"></div>
  </div>
</div>
