<div class="section--brands">
  <div class="container">
    <div class="brands-line"></div>
    <div class="brands-row">
      <div class="arrow-button">
        <button class="fas fa-angle-left arrow-icon"></button>
      </div>

      <div class="brands-container">
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand1.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand2.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand3.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand4.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand5.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand6.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand1.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand2.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand3.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand4.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand5.png" /></div>
        </div>
        <div class="slider-item">
          <div class="brands-image"><img src="images/brands/brand6.png" /></div>
        </div>
      </div>
      <div class="arrow-button">
        <button class="fas fa-angle-right arrow-icon"></button>
      </div>
    </div>
    <div class="brands-line"></div>
  </div>
</div>
