<div class="section--feedback">
  <div class="container">
    <!-- Navigation -->
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul class="feedback-dots">
            <li><a class="carousel-dots"></a></li>
            <li><a class="carousel-dots"></a></li>
            <li><a class="carousel-dots"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Carousel with three items -->
    <div class="feedback-container">
      <div>
        <!-- For the script to work (tns) -->
        <div class="row">
          <div class="col clients-feedback">
            <i class="fas fa-quote-right quote"></i>
            <p class="feedback-text">
              Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
            </p>
            <div class="feedback-clients">
              <img src="images/clients/client1.jpg" alt="client" />
              <div class="client-data">
                <p>John Smith</p>
                <p>Furnitue client</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- For the script to work (tns) -->
        <div class="row">
          <div class="col clients-feedback">
            <i class="fas fa-quote-right quote"></i>
            <p class="feedback-text">
              Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
            </p>
            <div class="feedback-clients">
              <img src="images/clients/client1.jpg" alt="client" />
              <div class="client-data">
                <p>John Smith</p>
                <p>Furnitue client</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- For the script to work (tns) -->
        <div class="row">
          <div class="col clients-feedback">
            <i class="fas fa-quote-right quote"></i>
            <p class="feedback-text">
              Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
            </p>
            <div class="feedback-clients">
              <img src="images/clients/client1.jpg" alt="client" />
              <div class="client-data">
                <p>John Smith</p>
                <p>Furnitue client</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
