.hot-deals {
  border: 1px solid #e1e1e1;

  .hot-deals-label {
    background-color: $form-border-color;
    margin: 0;
    color: #ffffff;
    padding: 5px 0;

    .hot-deals-header {
      border-style: none;
      padding: 2px 0px 0 30px;

      h6 {
        margin: 0;
      }
    }

    .dots {
      border-style: none;
      padding-right: 30px;

      ul {
        background-color: $form-border-color;
        transform: translateY(2px);
      }
    }
  }

  .photo {
    position: relative;
    padding: 89% 10px 0 10px;

    background: {
      color: transparent;
      size: cover;
      position: 0% 20%;
      repeat: no-repeat;
    }

    overflow: hidden;

    &:hover .hot-deals_cart,
    &:hover .counter {
      visibility: visible;
    }

    &-1 {
      background-image: url("../images/furniture/hot-deals-photo1.jpg");
    }

    .hot-deals_cart {
      position: absolute;
      top: 30%;
      left: 33%;
      visibility: hidden;
    }

    .counter {
      display: flex;
      position: absolute;
      bottom: 5%;
      right: 0%;
      width: 100%;
      justify-content: space-evenly;
      visibility: hidden;

      .counter-circle {
        background-color: $form-border-color;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        opacity: 0.9;
        color: #ffffff;
        padding: 15px 20px;
        text-align: center;

        h3 {
          margin: 0;
        }
      }
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      @media (max-width: 800px) {
        display: none;
      }
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .star-rating {
      display: flex;
      justify-content: center;

      &:hover .star {
        @extend .fas;
        color: $primary;
        text-shadow: 0 0 3px $primary;
      }

      a {
        padding: 0 3px;
        font-size: 19px;
        cursor: pointer;
        text-decoration: none;
        color: $primary;
        @extend .far;
        @extend .fa-star;

        &.full-black,
        &.black-outline {
          color: black;
        }

        &.full-black,
        &.full-creamy {
          @extend .fas;
        }

        &.full-creamy {
          color: $primary;
        }

        &:active {
          position: relative;
          top: 2px;
        }

        &:hover ~ .star {
          @extend .far;
          color: $primary;
        }
      }
    }
  }

  .line {
    @media (max-width: 800px) {
      display: none;
    }
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    @media (max-width: 800px) {
      flex-direction: column-reverse;
      padding-top: 0;
    }
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .old-price {
      padding: 5px;
      color: $inactive-color;
      text-decoration: line-through $text-color;
    }
  }

  .outlines {
    @media (max-width: 800px) {
      padding-top: 10px;
    }
  }
}

.indoor-furniture {
  .photo {
    position: relative;
    padding: 68% 10px 0 10px;

    background: {
      color: transparent;
      size: cover;
      position: 0% 100%;
      repeat: no-repeat;
    }

    overflow: hidden;

    .indoor-furniture_label {
      height: 50%;
      width: 100%;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 30%;
      right: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: 200;

      h1 {
        font-weight: 200;

        b {
          font-weight: 700;
        }
      }
    }

    .shop-now {
      position: absolute;
      bottom: 26%;
      left: 44%;
      background-color: rgba(255, 255, 255, 0.8);
      color: #292929;
      border-radius: 5%;
      font-weight: 600;

      &:hover {
        color: #292929;
        cursor: pointer;
      }
    }

    .navigation-buttons {
      display: flex;
      position: absolute;
      bottom: 1px;
      width: 100%;
      justify-content: center;
      right: 0%;
      text-align: center;

      .nav-left,
      .nav-right {
        width: 50%;
        line-height: 16px;
      }
    }

    &-2 {
      background-image: url("../images/furniture/indoor-furniture-photo1.jpg");
    }
  }
}
