.section--brands {
  min-height: 160px;

  .brands-line {
    height: 1px;
    background-color: $color-line;
  }

  .brands-row {
    display: flex;
    justify-content: center;
    padding: 23px 0;

    .arrow-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 92px;
      cursor: pointer;
      background-color: #2a2a2a;

      &:hover button {
        color: #e0a38e;
      }

      button {
        border: none;
        background-color: inherit;
      }

      .arrow-icon {
        cursor: pointer;
        width: 30px;
        height: 92px;
        color: #fff;
      }
    }

    .brands-container {
      display: flex;
      justify-content: space-between;
      min-width: 1060px;

      .slider-item {
        display: flex;
        justify-content: center;
        max-width: 1px;
        margin: auto;
      }

      .brands-image {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 140px;
        max-width: 140px;
        min-height: 92px;
        border: 1px solid $color-line;
      }
    }
  }
}
